/* body * {
  outline: 0.5px solid black;
}

.hero * {
  outline: 0.5px solid white;
} */

/* Hero styling */

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}

.hero {
  background-color: #1F2937;
  color: white;
  padding: 0 200px 100px 200px;
}

.hero-text {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}

.hero-secondary-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  /* gap: 16px; */
}

.hero-main-text {
  font-size: 48px;
  font-weight: bold;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
}

.hero-button {
  background-color: #3882F6;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 0;
  width: 90px;
}

.header {
  display: flex;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.header-links ul {
  display: flex;
  list-style: none;
  gap: 32px;
  margin: 0px;
  padding: 0px;
}

.header-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.header-links a:hover {
  font-weight: bold;
}

img {
  width: 50%;
  height: auto;
}