 body * {
  outline: 0.5px solid black;
}

.hero * {
  outline: 0.5px solid white;
}

.hero,
.vision,
.inspiration {
  padding: 0 200px 100px 200px;
}

/* button styling */
button {
  padding: 2px 0;
  width: 100px;
  border-radius: 5px;
  background-color: #3882F6;
  color: white;
}

/* button inheriting from a */
a:hover button {
  font-weight: 700;
}

/* Hero */
body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px; 
}

.header {
  display: flex;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
}

.header-links ul {
  display: flex;
  list-style: none;
  gap: 32px;
  margin: 0px;
  padding: 0px;
}

.header-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.header-links a:hover {
  font-weight: bold;
}

.hero {
  background-color: #1F2937;
  color: white;
}

.hero-text {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}

.hero-secondary-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bold;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.hero-button {
  border: none;
}

img {
  width: 50%;
  height: auto;
}


/* Vision */

.vision {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vision-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  padding: 18px;
}

.vision-container {
  display: flex;
  justify-content: space-around;
}

.vision-card {
  width: 250px;
  height: auto;
}

.vision-card img {
  display: flex;
  width: 100%;
}

.vision-card-text {
  display: flex;
  flex-wrap: wrap;
}

/* Inspirational quotes */
.inspiration {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 100px 400px;
}

.quote {
  font-style: italic;
  font-size: 20px;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

/* Action */
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
}

.action-container {
  flex: 1;
  display: flex;
  background-color: #3882F6;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  border-radius: 5px;
}

.action-main-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.action-main-text {
  color: white;
}

.action-button {
  border: 1px solid white;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.instagram {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover{
  font-weight: bold;
}